*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

@font-face {
  font-family: 'Exo 2';
  src: url('../fonts/Exo2-ExtraLight.eot') format('eot'),
    url('../fonts/Exo2ExtraLight.woff2') format('woff2'),
    url('../fonts/Exo2ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

html {
  height: 100%;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      color-stop(50%, rgba(0, 0, 0, 0.4)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(../img/background.jpg);
  background: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(../img/background.jpg);
  background: -o-linear-gradient(
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(../img/background.jpg);
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      color-stop(50%, rgba(0, 0, 0, 0.4)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(../img/background.jpg);
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      color-stop(50%, rgba(0, 0, 0, 0.4)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(../img/background.jpg);
  background: linear-gradient(
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(../img/background.jpg);
  font-size: 55.5%;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', sans-serif;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  padding: 0 2rem;
}

.goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.page-title {
  margin: 4rem 0 4rem 0;
  font-family: 'Exo 2', sans-serif;
  font-size: 3.4rem;
  font-weight: 200;
  letter-spacing: 0.8px;
  text-align: center;
  color: #fff;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5rem;
}

.product__wrapper {
  position: relative;
  width: 32rem;
  height: 48rem;
  padding: 2rem 2rem 2rem 4.8rem;
  background: -webkit-linear-gradient(
    315deg,
    transparent 0%,
    transparent 30px,
    #1698d9 30px,
    #1698d9 34px,
    #f1f1f1 34px
  );
  background: -o-linear-gradient(
    315deg,
    transparent 0%,
    transparent 30px,
    #1698d9 30px,
    #1698d9 34px,
    #f1f1f1 34px
  );
  background: linear-gradient(
    135deg,
    transparent 0%,
    transparent 30px,
    #1698d9 30px,
    #1698d9 34px,
    #f1f1f1 34px
  );
  border-right: 4px solid #1698d9;
  border-bottom: 4px solid #1698d9;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
}
.product__wrapper::before,
.product__wrapper::after {
  position: absolute;
  content: '';
  background: #1698d9;
}
.product__wrapper::before {
  width: 4px;
  height: 90%;
  top: 42px;
  left: 0;
}
.product__wrapper::after {
  width: 85%;
  height: 4px;
  top: 0;
  left: 42px;
}
.product__wrapper:hover {
  border-color: #2ea9e6;
  background: -webkit-linear-gradient(
    315deg,
    transparent 0%,
    transparent 30px,
    #2ea9e6 30px,
    #2ea9e6 34px,
    #ffffff 34px
  );
  background: -o-linear-gradient(
    315deg,
    transparent 0%,
    transparent 30px,
    #2ea9e6 30px,
    #2ea9e6 34px,
    #ffffff 34px
  );
  background: linear-gradient(
    135deg,
    transparent 0%,
    transparent 30px,
    #2ea9e6 30px,
    #2ea9e6 34px,
    #ffffff 34px
  );
  cursor: pointer;
}
.product__wrapper:hover::before,
.product__wrapper:hover::after {
  background: #2ea9e6;
}
.product__wrapper:hover .product__weight {
  background: #2ea9e6;
}
.product__intro {
  font-size: 1.5rem;
  color: #666666;
  letter-spacing: 0.5px;
}
.product__title {
  margin-top: 1rem;
  font-size: 4.6rem;
  letter-spacing: 0.4px;
}
.product__ingredient {
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.4px;
}
.product__info-list {
  margin-top: 1.5rem;
  list-style: none;
}
.product__info-item {
  font-size: 1.3rem;
  color: #666;
}
.product__count {
  font-weight: bold;
}
.product__cat {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.product__img {
  width: 100%;
  margin-bottom: -5rem;
}
.product__weight {
  position: absolute;
  right: 11px;
  bottom: 11px;
  width: 8rem;
  height: 8rem;
  padding-top: 1.1rem;
  border-radius: 50%;
  text-align: center;
  background: #1698d9;
  color: #fff;
}
.product__weight-number {
  font-size: 3.9rem;
  line-height: 1.1;
}
.product__weight-measure {
  font-size: 1.5rem;
}
.product__annotation {
  margin-top: 1.4rem;
  color: #f2f2f2;
  font-size: 13px;
  text-align: center;
  letter-spacing: -0.1px;
}
.product-text {
  display: inline-block;
}
.product__link {
  color: #1698d9;
  border-bottom: 1px dotted #1698d9;
  text-decoration: none;
  font-weight: bold;
}
.product__link:hover {
  color: #2ea9e6;
}
.product--selected {
  border-color: #d91667;
  background: -webkit-linear-gradient(
    315deg,
    transparent 0%,
    transparent 30px,
    #d91667 30px,
    #d91667 34px,
    #f1f1f1 34px
  );
  background: -o-linear-gradient(
    315deg,
    transparent 0%,
    transparent 30px,
    #d91667 30px,
    #d91667 34px,
    #f1f1f1 34px
  );
  background: linear-gradient(
    135deg,
    transparent 0%,
    transparent 30px,
    #d91667 30px,
    #d91667 34px,
    #f1f1f1 34px
  );
}
.product--selected::before,
.product--selected::after {
  background: #d91667;
}
.product--selected + .product__annotation .product__link,
.product--disabled + .product__annotation .product__link {
  display: none;
}
.product--selected .product__weight {
  background: #d91667;
}
.product--selected:hover {
  border-color: #e62e7a;
  background: -webkit-linear-gradient(
    315deg,
    transparent 0%,
    transparent 30px,
    #e62e7a 30px,
    #e62e7a 34px,
    #f1f1f1 34px
  );
  background: -o-linear-gradient(
    315deg,
    transparent 0%,
    transparent 30px,
    #e62e7a 30px,
    #e62e7a 34px,
    #f1f1f1 34px
  );
  background: linear-gradient(
    135deg,
    transparent 0%,
    transparent 30px,
    #e62e7a 30px,
    #e62e7a 34px,
    #f1f1f1 34px
  );
}
.product--selected:hover::before,
.product--selected:hover::after {
  background: #e62e7a;
}
.product--selected:hover .product__weight {
  background: #e62e7a;
}
@media (min-width: 604px) {
  html {
    font-size: 62.5%;
  }
  .product__wrapper::before {
    height: 91.3%;
  }
  .product__wrapper::after {
    width: 87%;
  }
}
@media (min-width: 681px) {
  .product:not(:last-child) {
    margin-right: 2rem;
  }
}
@media (min-width: 768px) {
  .goods {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .page-title {
    margin-top: 0;
  }
  .goods {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .product {
    flex-grow: 1;
    margin-bottom: 0;
  }
  .product__intro {
    margin-left: -1px;
  }
}
.product--disabled,
.product--disabled:hover {
  border-color: #b3b3b3;
  background: -webkit-linear-gradient(
    315deg,
    transparent 0%,
    transparent 30px,
    #b3b3b3 30px,
    #b3b3b3 34px,
    #f1f1f1 34px
  );
  background: -o-linear-gradient(
    315deg,
    transparent 0%,
    transparent 30px,
    #b3b3b3 30px,
    #b3b3b3 34px,
    #f1f1f1 34px
  );
  background: linear-gradient(
    135deg,
    transparent 0%,
    transparent 30px,
    #b3b3b3 30px,
    #b3b3b3 34px,
    #f1f1f1 34px
  );
}
.product--disabled::before,
.product--disabled:hover::before,
.product--disabled::after,
.product--disabled:hover::after {
  background: #b2b2b2;
}
.product--disabled .product__cat {
  opacity: 0.4;
}
.product--disabled .product__weight,
.product--disabled:hover .product__weight {
  background: #b3b3b3;
}
.product--disabled,
.product--disabled .product__info-item,
.product--disabled .goods__intro {
  color: #b3b3b3;
}
.product--disabled + .product__annotation {
  color: #ffff66;
}
